body {
	background-color: #DDE;
}

a {
	text-decoration: underline;
	color: #B11;
}

a:hover {
	color: #FFF;
}

#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 200px;
	height: 100%;
	z-index: 1;
	overflow-x: hidden;
	padding-top: 30px;
	background-color: #223;
}

#sidebar a {
	padding: 10px 10px 10px 15px;
	display: block;

	font-size: 28px;
	font-family: Verdana;
	text-decoration: none;
	color: #B11;
	text-align:center;

	transition: 0.3s;
}

#sidebar a:hover {
	background-color: #112;
	color: #D11;
}

.spin-baby-spin {
	-webkit-animation: rotation 5s infinite linear;

	display: block;
	margin: 0 auto;
	margin-top: 150px;
	margin-bottom: 150px;
}

.intro {
	width: 500px;
	display: block;
	margin: 0 auto;

	text-align: left;

	color: #F11;
	font-family: Verdana;
}

@-webkit-keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(359deg);
	}
}